In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy.stats import norm
import pylab

In [9]:
path = r"E:\DYPIU\SEM 5\Principle Of DS\LABS\haberman.csv"
df = pd.read_csv(path)
df

     Age   op_year  axil_nodes  surv_status
0      30       64           1            1
1      30       62           3            1
2      30       65           0            1
3      31       59           2            1
4      31       65           4            1
..    ...      ...         ...          ...
301    75       62           1            1
302    76       67           0            1
303    77       65           3            1
304    78       65           1            2
305    83       58           2            2

[306 rows x 4 columns]

In [10]:
df.describe()

             Age      op_year  axil_nodes  surv_status
count  306.000000  306.000000  306.000000   306.000000
mean    52.457516   62.852941    4.026144     1.264706
std     10.803452    3.249405    7.189654     0.441899
min     30.000000   58.000000    0.000000     1.000000
25%     44.000000   60.000000    0.000000     1.000000
50%     52.000000   63.000000    1.000000     1.000000
75%     60.750000   65.750000    4.000000     2.000000
max     83.000000   69.000000   52.000000     2.000000

In [13]:
df.isnull()

      Age   op_year  axil_nodes  surv_status
0    False    False       False        False
1    False    False       False        False
2    False    False       False        False
3    False    False       False        False
4    False    False       False        False
..     ...      ...         ...          ...
301  False    False       False        False
302  False    False       False        False
303  False    False       False        False
304  False    False       False        False
305  False    False       False        False

[306 rows x 4 columns]

In [11]:
# checking if data is normally distributed
plt.hist(data)
data = norm.rvs(size=300)
sm.qqplot(data, line='45')
pylab.show()

NameError: name 'plt' is not defined

In [15]:
#Q2
from scipy.stats import poisson
rate = 3.13
probs = [poisson.pmf(i,rate) for i in range(15)]
plt.stem(list(range(15)),probs)

NameError: name 'plt' is not defined

In [ ]:
#Q3
from scipy.stats import binom
num =10
head = 0.5
prob = [binom.pmf(i,num,head) for i in range(11)]
plt.stem(list(range(11)),prob)